.DS_Store
/_site
/node_modules
/.bundle
assets/vendor/clipboard/src
assets/vendor/clipboard/test
assets/vendor/selectivizr/tests
assets/vendor/qtip2/basic
/vendor
/.sass-cache
.ruby-version
/tmp
Gemfile.lock
.jekyll-metadata
