.DS_Store
/_site
/node_modules
/.bundle
_includes/js/vendor/zeroclipboard/docs
_includes/js/vendor/zeroclipboard/src
_includes/js/vendor/zeroclipboard/test
_includes/js/vendor/selectivizr/tests
_includes/js/vendor/qtip2/basic
