#bootstrap and build
before_script: "./script/bootstrap"
script: "./script/cibuild"

#environment
language: ruby
rvm:
  - 2.5.1

addons:
  apt:
    packages:
    - libcurl4-openssl-dev

before_install:
  - gem install bundler --version 1.16.2

branches:
  only:
    - gh-pages
    - /.*/

notifications:
  email: false

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

sudo: false
cache: bundler
