---
layout: default
permalink: licenses/
class: license-types
title: Licenses
---

<h2>Featured Licenses</h2>

{% for page in site.pages %}
  {% if page.layout == "license" %}
    {% if page.featured %}
      {% include license-overview.html %}
    {% endif %}
  {% endif %}
{% endfor %}

<h2>Other licenses</h2>
<p>
  Some communities tend to have specific licenses preferred by the
  community. For example, Perl developers often choose the Artistic License.
</p>

{% for page in site.pages %}
  {% if page.layout == "license" %}
    {% if page.featured != true and page.hide-from-license-list != true %}
      {% include license-overview.html %}
    {% endif %}
  {% endif %}
{% endfor %}
