---
layout: default
permalink: licenses/
class: license-types
---

<h1>추천 라이선스</h1>

{% for page in site.pages %}
  {% if page.layout == "license" %}
    {% if page.featured %}
    <table class='license-rules'>
      <tr>
        <th class='name'>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </th>
        <th class='summary'>
         {{ page.description }} <a href="{{ page.permalink }}">라이선스 전문 보기 »</a>
        </th>
      </tr>
      {% assign types = "required|permitted|forbidden" | split: "|" %}
      {% for type in types %}
      <tr>
        <!--
        <td class="label">{{ type | capitalize }}</td>
        -->

        <!-- For Korean translation : added by Jou Sung-Shik (http://github.com/liks79) -->
        {% if type == "required" %}
            <td class="label">요구사항</td>
        {% endif %}
        {% if type == "permitted" %}
            <td class="label">허가사항</td>
        {% endif %}
        {% if type == "forbidden" %}
            <td class="label">금지사항</td>
        {% endif %}
        <td>
          <ul class="license-{{ type }}">
            {% for req in page[type] %}
              <li class="{{ req }}">{{ site.rules[type][req].label }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  {% endif %}
{% endfor %}

<h2>그 밖의 라이선스들</h2>
<p>
일부 커뮤니티들은 내부적으로 특정 라이선스를 선호하는 경향이 있습니다.
예를 들어, 펄(perl) 개발자는 종종 the Artistic License를 선택합니다. 
</p>

{% for page in site.pages %}
  {% if page.layout == "license" %}
    {% if page.featured != true %}
    <table class='license-rules'>
      <tr>
        <th class='name'>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </th>
        <th class='summary'>
         {{ page.description }} <a href="{{ page.permalink }}">라이선스 전문 보기 »</a>
        </th>
      </tr>
      {% assign types = "required|permitted|forbidden" | split: "|" %}
      {% for type in types %}
      <tr>
        <!--
        <td class="label">{{ type | capitalize }}</td>
        -->

        <!-- For Korean translation : added by Jou Sung-Shik (http://github.com/liks79) -->
        {% if type == "required" %}
            <td class="label">요구사항</td>
        {% endif %}
        {% if type == "permitted" %}
            <td class="label">허가사항</td>
        {% endif %}
        {% if type == "forbidden" %}
            <td class="label">금지사항</td>
        {% endif %}
        <td>
          <ul class="license-{{ type }}">
            {% for req in page[type] %}
              <li class="{{ req }}">{{ site.rules[type][req].label }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  {% endif %}
{% endfor %}
