      <footer class="site-footer cf">
        <nav>
          <a href="/about/">關於</a>
          <a href="/terms-of-service/">Terms of Service</a>
        </nav>
        <p>
          選用許可前，請諮詢法律專業人士。<br>
          本站點以<a href="http://creativecommons.org/licenses/by/3.0/">
          Creative Commons Attribution 3.0 Unported License</a>發佈.</p>
        </p>
        <div id="with-♥">
          Demystified with &lt;3 by <a href="http://github.com">GitHub, Inc.</a>
        </div>
      </footer>

    </div><!-- /container -->

    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.qtip.min.js"></script>

    {% if page.layout == "license" %}
      <script type="text/javascript" src="/javascripts/ZeroClipboard.js"></script>
    {% endif %}

    <script type="text/javascript" src="/javascripts/annotations.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>


  </body>
</html>
