<!DOCTYPE html>
<html lang='ko'>
  <head>
    <base href="http://liks79.github.com/choosealicense.com/" target="_blank">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title}}</title>

    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    
    {% if page.description %}
    <meta name="description" content="{{ page.description | strip_html }}">
    {% endif %}

    <link href='{{ site.base-url }}/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='http://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link type="text/css" href="{{ site.base-url }}/css/application.css" media="screen" rel="stylesheet">
    <link type="text/css" href="{{ site.base-url }}/css/jquery.qtip.css" media="screen" rel="stylesheet">

    <script type="text/javascript" src="{{ site.base-url }}/javascripts/modernizr.js"></script>
    
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src='/javascripts/selectivizr-min.js' type='text/javascript'></script>
    <![endif]-->
    
    <!-- End Piwik Code -->
    
  </head>
  <body class="{{ page.layout }} {{ page.class }}">
    <div class='container'>

      {% include breadcrumbs.html %}

      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}
