<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title}}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description | strip_html }}">
    {% endif %}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Chivo:900">
    <link rel="stylesheet" href="/css/application.css" media="screen">
    <script src="/javascripts/modernizr.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="/javascripts/selectivizr-min.js"></script>
    <![endif]-->

  </head>
  <body class="{{ page.layout }}{% if page.class %} {{ page.class }}{% endif %}">
    <div class="container">

      {% include breadcrumbs.html %}

      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}
