<div class="license-family clearfix">
  <div class="license-family-heading">
    <h3 class="license-family-name">
      <a href="{{ license.url }}">
        {% if license.category %}
          {{ license.category }}
        {% else %}
          {% if license.nickname %}
            {{ license.nickname }}
          {% else %}
            {{ license.title }}
          {% endif %}
        {% endif %}
      </a>
    </h3>

    <p class="license-family-description">{{ license.description }}</p>
  </div>

  <div class="license-details">
    <div class="license-variations js-license-variations">
      <!-- always show this div, even w/o variations, for proper spacing -->
      {% if license.category %}
      <ul class="nav-pills js-nav-pills">
        {% assign variations = site.licenses | where:"hidden",false | where:"category",license.category %}
        {% for variation in variations %}
        <li{% if license.tab-slug == variation.tab-slug %} class="active"{% endif %}><a href="#{{ variation.tab-slug }}" data-selected-tab="variation-{{ variation.tab-slug }}">
          {% if variation.nickname != nil %}
            {{ variation.nickname }}
          {% else %}
            {{ variation.title }}
          {% endif %}
        </a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    
    {% if license.category %}
      {% assign variations = site.licenses | where:"hidden",false | where:"category",license.category %}
    {% else %}
      {% assign variations = site.licenses | where:"title",license.title %}
    {% endif %}

    {% for variation in variations %}
    <div {% if variation.tab-slug %}id="{{ variation.tab-slug }}" {% endif %}class="variation-tab {% if variation.tab-slug %}variation-{{ variation.tab-slug }}{% endif %} js-variation-tab{% if license.tab-slug == variation.tab-slug %} active{% endif %}">
      <table class="license-rules">
        <tr>
        {% assign types = "required|permitted|forbidden" | split: "|" %}
        {% for type in types %}
          <th class="label">{{ type | capitalize }}</th>
        {% endfor %}
        </tr>
        <tr>
          {% for type in types %}
            <td>
              <ul class="license-{{ type }}">
                {% assign rules = site.data.rules[type] | sort: "label" %}
                {% for rule_obj in rules %}
                  {% assign req = rule_obj.tag %}
                  {% if variation[type] contains req %}
                    <li class="{{ req }}">
                      <span class="license-sprite"></span>
                      {{ rule_obj.label }}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </td>
          {% endfor %}
        </tr>
      </table>
      <p class="small"><a href="{{ variation.url }}">View full {{ variation.title }} license »</a></p>
    </div>
    {% endfor %}
  </div>
</div>
