    {% if page.title %}
      {% capture seo_title %}{{ page.title | markdownify | strip_html | strip_newlines }} - {{ site.title }}{% endcapture %}
    {% else %}
      {% assign seo_title = site.title %}
    {% endif %}

    {% if page.description %}
      {% assign seo_description = page.description | strip_html | strip_newlines %}
    {% else %}
      {% assign seo_description = site.description | strip_html | strip_newlines %}
    {% endif %}

    <!-- le seo -->
    <title>{{ seo_title }}</title>
    <meta property="og:title" content="{{ seo_title }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <title itemprop='name'>{{ site.title }}</title>

    <meta name="description" content="{{ seo_description }}">
    <meta property='og:description' content="{{ seo_description }}"/>

    <link rel="canonical" href="{{ site.github.url }}{{ page.url }}" itemprop="url"/>
    <meta property='og:url' content='{{ site.github.url }}{{ page.url }}'/>
    <meta property='og:locale' content='en_us'/>

    <meta property="twitter:account_id" content="{{ site.twitter.account_id }}" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ seo_title }}" />
    <meta property="twitter:description" content="{{ seo_description }}" />
    <meta property="twitter:site" content="{{ site.twitter.username }}" />
    <meta property="twitter:creator" content="{{ site.twitter.username }}" />
    <!-- /seo -->
