<div class="sidebar">

  <a href="#" data-clipboard-target="license-text" class="js-clipboard-button button">Copy license text to clipboard</a>
  <div class="how-to-apply">
    <h5>How to apply this license</h5>
    <p>
      {{ page.how }}
    </p>
    {% if page.note %}
    <p class="note">
      <strong>Note: </strong> {{ page.note }}
    </p>
    {% endif %}
  </div>
  {% if page.source %}
  <div class="source">
    <a href="{{ page.source }}">Source</a>
  </div>
  {% endif %}

  <div class="license-rules license-rules-sidebar">

  {% assign types = "required|permitted|forbidden" | split: "|" %}
  {% for type in types %}
    <h3>{{ type | capitalize }}</h3>
    <ul class="license-{{ type }}">
      {% assign rules = site.rules[type] | sort: 'label' %}
      {% for rule_obj in rules %}
        {% assign req = rule_obj.tag %}
        {% if page[type] contains req %}
          <li class="{{ req }}">{{ rule_obj.label }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

  </div>

  {% if page.using %}
  <div class="projects-with-license">
    <h3>Who's using this license?</h3>
    <ul>
      {% for using in page.using %}
        <li><a href="{{ using[1] }}" target="_blank">{{ using[0] }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div> <!-- /sidebar -->
