<div class='sidebar'>

  <a href="#" data-clipboard-target="license-text" class="js-clipboard-button button">라이선스를 클립보드에 복사</a>
    <div class='how-to-apply callout'>
      <h5>라이선스 준수 방법</h5>
      <p>
        {{ page.how | replace:"<<","[" | replace:">>","]" }}
      </p>
      {% if page.note %}
      <p class="note">
        <strong>주의: </strong> {{ page.note }}
      </p>
      {% endif %}
    </div>
    <div class="source">
      <a href="{{ page.source}}">원문</a> <br>
      <a href="{{ page.korean}}">한국어</a>
    </div>

     <div class="license-rules license-rules-sidebar">

      {% assign types = "required|permitted|forbidden" | split: "|" %}
      {% for type in types %}
      <!--
        <h3>{{ type | capitalize }}</h3>
      -->
      
      <!-- For Korean translation : added by Jou Sung-Shik (http://github.com/liks79) -->
        {% if type == "required" %}
            <h3>요구사항</h3>
        {% endif %}
        {% if type == "permitted" %}
            <h3>허가사항</h3>
        {% endif %}
        {% if type == "forbidden" %}
            <h3>금지사항</h3>
        {% endif %}
      
        <ul class="license-{{ type }}">
          {% for req in page[type] %}
            <li class="{{ req }}">{{ site.rules[type][req].label }}</li>
          {% endfor %}
        </ul>
      {% endfor %}

    </div>

    {% if page.using %}
    <div class="projects-with-license">
      <h3>Who's using this license?</h3>
      <ul>
        {% for using_hash in page.using %}
          {% for using in using_hash %}
            <li><a href="{{ using[1] }}" target="_blank">{{ using[0] }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    
  </div><!-- /sidebar -->