{% include header.html %}

      <ol class='breadcrumbs'>
        <li>
           <a href="/">Home</a> / <a href="/licenses/">Licenses</a>
        </li>
      </ol>

      <h1>{{ page.title }}</h1>

      <div class="cf">
        <div class='license-body'>
          <pre id="license-text">

{{ content | replace:"<<","[" | replace:">>","]" }}
        
          </pre><!-- /license-text -->
        </div><!-- /license-body -->

{% include sidebar.html %}

      </div><!-- /cf -->

{% include footer.html %}